mat-toolbar {
    background: black;
    color: white
}
.menu-button {
    background: none;
    color: white;
}
.shell-spacer {
    flex: 1 1 auto;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.buttons .profile-button {
    background: none;
}
.buttons .profile-button:hover{
    cursor: pointer;
}