mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;

    background: black;
    color: white
}
.menu-button {
    background: none;
    color: white;
}
.shell-spacer {
    flex: 1 1 auto;
}
.buttons {
    display: flex;
    flex-direction: row;
}
 